<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024936751501-tbr4qn11u7afi8kbnkmn6v55f5ich8us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024936751501-tbr4qn11u7afi8kbnkmn6v55f5ich8us</string>
	<key>API_KEY</key>
	<string>AIzaSyA9kS1cHZvP1qi3qnxmAR52zsjss8s1TZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1024936751501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iori.champagnejurep.dev</string>
	<key>PROJECT_ID</key>
	<string>champagnejurep-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>champagnejurep-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024936751501:ios:7856f3fe5f4b8596640dc4</string>
</dict>
</plist>